{% extends "layout.html" %}

{% block content %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Kanban</h1>
      <p class="lead text-muted">That's a MySQL, PHP, Javascript kanban board !</p>
      <small>
        <p class="text-muted">With this board you can manage your tasks.</p>
      </small>
      <p>
      <nav class="nav nav-pills nav-justified">
      <a class="nav-item nav-link btn btn-primary my-2 login-button" onclick="loginButton()"></a>
      <a class="nav-item nav-link btn btn-light my-2 card-link call-to-action" onclick="addTask()"></a>
    </nav>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Backlog"><title>Placeholder</title><rect width="100%" height="100%" fill="#cb6217"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Backlog</text></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><p style="color:#cb6217">Next tasks...</p></small>
              </div>
                <ul class="list-group list-group-flush">
    {% for task in tasks %}
  {% if task.2 == "BACKLOG" %}
  <li class="list-group-item" onclick="modifyTask('{{task.0}}', '{{task.1}}', '{{task.2}}', '{{task.3}}');">
  {{task.1}}
  </li>
  {% endif %}
  {% endfor %}
  </ul>
  <div class="card-body text-right">
    <button type="button" class="btn btn-light my-2 card-link call-to-action" onclick="addTask()"></a>
  </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: To Do"><title>Placeholder</title><rect width="100%" height="100%" fill="#F95E5B"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">To Do</text></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><p style="color:#F95E5B">Tasks</p></small>
              </div>
                <ul class="list-group list-group-flush">
    {% for task in tasks %}
  {% if task.2 == "TODO" %}
  <li class="list-group-item" onclick="modifyTask('{{task.0}}', '{{task.1}}', '{{task.2}}', '{{task.3}}');">
  {{task.1}}
  </li>
  {% endif %}
  {% endfor %}
  </ul>
 <div class="card-body text-right">
    <button type="button" class="btn btn-light my-2 card-link call-to-action" onclick="addTask()"></button>
  </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Doing"><title>Placeholder</title><rect width="100%" height="100%" fill="#6284FB"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Doing</text></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted"><p style="color:#6284FB">Current tasks</p></small>
              </div>
              <ul class="list-group list-group-flush">
    {% for task in tasks %}
  {% if task.2 == "DOING" %}
  <li class="list-group-item" onclick="modifyTask('{{task.0}}', '{{task.1}}', '{{task.2}}', '{{task.3}}');">
  {{task.1}}
  </li>
  {% endif %}
  {% endfor %}
  </ul>
  <div class="card-body text-right">
    <button type="button" class="btn btn-light my-2 card-link call-to-action" onclick="addTask()"></button>
  </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Done"><title>Placeholder</title><rect width="100%" height="100%" fill="#2FB4DE"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Done</text></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><p style="color:#2FB4DE">Achieved</p></small>
              </div>
                <ul class="list-group list-group-flush">
    {% for task in tasks %}
  {% if task.2 == "DONE" %}
  <li class="list-group-item" onclick="modifyTask('{{task.0}}', '{{task.1}}', '{{task.2}}', '{{task.3}}');">
  {{task.1}}
  </li>
  {% endif %}
  {% endfor %}
  </ul>
  <div class="card-body text-right">
    <button type="button" class="btn btn-light my-2 card-link call-to-action" onclick="addTask()"></button>
  </div>
            </div>
          </div>
        </div>
        
    </div>
  </div>

</main>


<!-- Modal -->
<div id="myLoginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
              <h4 class="login-modal-title">Connect to SpotKanban</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body modal-body-login">
        <form>
           <div class="form-group">
          <label for="connection-state">Login / Registration</label>
           <select class="form-control" id="connection-state">
            <option value="LOGIN" selected>Login (I am already a user)</option>
            <option value="REGISTER">Register (I use it for the first time)</option>
          </select>
          </div>    
          <div class="form-group">
            <label for="member-name">Username</label>
            <input type="text" class="form-control" id="member-name" placeholder="Username" title="Your username">
          </div>
          <div class="form-group" id="member-mail-div">
            <label for="member-mail">Email</label>
            <input type="email" class="form-control" id="member-mail" placeholder="Email" title="Your email">
          </div>
          <div class="form-group" id="member-new-password-div">
            <label for="member-password">Password</label>
            <input type="text" class="form-control" id="member-password" placeholder="Password" title="Your password">
            <small><p class="text-muted">Please remember to use a NEW password.<br> (Don't use it anywhere else)</p></small>
          </div>
          <div class="form-group" id="member-password-div">
            <label for="member-password">Password</label>
            <input type="text" class="form-control" id="member-password" placeholder="Password" title="Your password">
          </div>
          <button type="submit" class="btn btn-primary" id="login-modal-button">Connect</button>
      </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Task Modal -->
<div id="myTaskModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="task-modal-title">Add a task</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" id="task-index"></input>
          <div class="form-group">
            <label for="task-name">Name</label>
            <input type="text" class="form-control" id="task-name" placeholder="Task name">
          </div>
          <div class="form-group">
            <label for="task-description">Description</label>
            <input type="text" class="form-control" id="task-description" placeholder="Task description">
          </div>
           <div class="form-group">
          <label for="task-description">Status</label>
           <select class="form-control" id="task-status">
             <option value="" selected disabled hidden>Status</option>
            <option value="BACKLOG">BACKLOG</option>
            <option value="TODO">TODO</option>
            <option value="DOING">DOING</option>
            <option value="DONE">DONE</option>
          </select>
          </div>          
          <button type="submit" class="btn btn-primary" id="task-modal-button"></button>
          <button type="submit" class="btn btn-primary" id="task-modal-second-button"></button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" charset='utf-8'>

$('#connection-state').change(function(){
  if($("#member-mail-div").is(":visible")){
    $('#member-mail-div').hide();
    $('#login-modal-button').html("Connect");
    $('#member-new-password-div').hide();
    $('#member-password-div').show();

  } else {
    $('#member-mail-div').show();
    $('#login-modal-button').html("Send me a registration mail !");
    $('#member-new-password-div').show();
    $('#member-password-div').hide();
  }
});


$('#task-modal-button').click(function(){
  
  if($('#task-modal-button').text() == "Update task"){
    handleTask("Update");
  } else if($('#task-modal-button').text() == "Add task")
  {
    handleTask("Add");
  }
});

$('#login-modal-button').click(function(){
  if($('#login-modal-button').text() == "Connect"){
    
    if($('#member-name').val() && $('#member-password').val()){
      sessionStorage.setItem('username', $('#member-name').val());
      sessionStorage.setItem('password', $('#member-password').val());
      sessionStorage.setItem('connected', 'true');
      alert("You are connected " + $('#member-name').val() + " !");
      loadConnected();
    } else {
      alert("You have to enter an username and password ! \n Remember to use a password that you don't use anywhere else.")
    }


    
  }
});

$('#task-modal-second-button').click(function(){
  if($('#task-modal-second-button').text() == "Remove task"){
    removeTask();
  }
});

  function handleTask(action){
  
  alert("Enter the handleTask method for " + action);

  var task_id =  "";
  if($("#task-index").val() != ''){
    task_id=  $("#task-index").val();
  } 
  
  var task_name =  "Task name : ...";
  if($("#task-name").val() != ''){
    task_name =  $("#task-name").val();
  } 
  
  var task_description = "Task description : ...";
  if($("#task-description").val() != ''){
    task_description = $("#task-description").val();
  }

  var task_status = "TODO";
  if($("#task-status").val() != ''){
    task_status = $("#task-status").val();
  }

  $.ajax({
      url: '/handleTask',
      type: "POST",
      dataType: "json",
        data: {
          id: task_id,
          name: task_name,
          description: task_description,
          status: task_status
        },
        async: true,
        success: function (data) {
          alert(JSON.stringify(data));
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) { 
          alert("Status: " + textStatus); alert("Error: " + errorThrown); 
        } 
    });
}


  function removeTask(){
  
  alert("Enter the remove task method ");

   var task_id =  "";
  if($("#task-index").val() != ''){
    task_id=  $("#task-index").val();
  } 
  
  var task_name =  "Task name : ...";
  if($("#task-name").val() != ''){
    task_name =  $("#task-name").val();
  } 
  
  var task_description = "Task description : ...";
  if($("#task-description").val() != ''){
    task_description = $("#task-description").val();
  }

  var task_status = "TODO";
  if($("#task-status").val() != ''){
    task_status = $("#task-status").val();
  }

  $.ajax({
      url: '/removeTask',
      type: "POST",
      dataType: "json",
        data: {
          id: task_id,
          name: task_name,
          description: task_description,
          status: task_status
        },
        async: true,
        success: function (data) {
          alert(JSON.stringify(data));
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) { 
          alert("Status: " + textStatus); alert("Error: " + errorThrown); 
        } 
    });
}


function loginButton(){
  if($(".login-button").text() != "Connect"){
    sessionStorage.setItem('username', "");
    sessionStorage.setItem('password', "");
    sessionStorage.setItem('connected', 'false');
    alert("You are disconnected !");
    loadDisconnected();
  } else {
    $('#myLoginModal').modal(); 
  }
}


function modifyTask(index, name, status, description){
    $(".task-modal-title").html("Task : " + name);
    $("#task-index").val(index);
    $("#task-name").val(name);
    $('#task-description').val(description);
    $('#task-status').val(status);
    $('#task-modal-button').html("Update task");
    $('#task-modal-second-button').html("Remove task");
    $('#myTaskModal').modal();

}     

function addTask(){
  if(sessionStorage.getItem("connected") == 'true') {
    $(".task-modal-title").html("Add a task");
    $("#task-index").val("");
    $("#task-name").val("");
    $('#task-description').val("");
    $('#task-status').val("");
    $('#task-modal-button').html("Add task");
    $('#task-modal-second-button').html("Cancel");
    $('#myTaskModal').modal();
  } else {
    $('#myLoginModal').modal();
  }

}     

function loadConnected(){
  $(".call-to-action").text("Add a task");
  $(".login-button").text("Log out (" + sessionStorage.getItem("username") + ")");

}

function loadDisconnected(){
    $(".call-to-action").text("Log/Spot in to use !");
    $(".login-button").text("Connect");
}

$(function() { 
  
  $('#member-mail-div').hide();

  if(sessionStorage.getItem("connected") == 'true') {
    loadConnected();
  } else {
    loadDisconnected();
  } 

});


</script>
{% endblock %}
